abitestapi/src/main/app/popularmovie.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="popularmovieFlow">
    	<http:request config-ref="HTTP_Request_Config_Movies_DB" path="movie/popular" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="api_key" value="${themoviedb.access_key}"/>
                <http:query-param paramName="page" value="1"/>


            </http:request-builder>
        </http:request>
        <set-payload value="#[json:results]" mimeType="application/json" doc:name="Set Payload"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map {
	title: $.title,
	original_language: $.original_language,
	release_date: $.release_date,
	poster_path: $.poster_path
}]]></dw:set-payload>
        </dw:transform-message>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	popularMovies: payload[0..9]
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="== Response: #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Response"/>
    </flow>
</mule>
