abitestapi/src/main/app/queryartisttrack.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="queryartisttrackFlow">
    	<choice doc:name="Choice">
            <when expression="track != null" evaluator="json">
                <http:request config-ref="HTTP_Request_Config_Last_FM" path="/" method="GET" doc:name="HTTP">
                    <http:request-builder>
                        <http:query-param paramName="method" value="track.getInfo"/>
                        <http:query-param paramName="api_key" value="${lastfm.access_key}"/>
                        <http:query-param paramName="artist" value="#[json:artist]"/>
                        <http:query-param paramName="track" value="#[json:track]"/>
                        <http:query-param paramName="format" value="json"/>
                    </http:request-builder>
                </http:request>
            </when>
            <otherwise>
                <logger message="Track not informed" level="INFO" doc:name="Logger"/>
                <http:request config-ref="HTTP_Request_Config_Last_FM" path="/" method="GET" doc:name="HTTP">
                    <http:request-builder>
                        <http:query-param paramName="method" value="artist.getinfo"/>
                        <http:query-param paramName="artist" value="#[json:artist]"/>
                        <http:query-param paramName="api_key" value="${lastfm.access_key}"/>
                        <http:query-param paramName="format" value="json"/>
                    </http:request-builder>
                </http:request>
            </otherwise>
        </choice>
        <logger message="== Response: #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Response"/>
    </flow>
</mule>
