abitestapi/src/main/app/test.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="test-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    
    <http:request-config name="HTTP_Request_Config_Api_Layer" host="apilayer.net" port="${apilayer.port}" basePath="/api" doc:name="HTTP Request Configuration"/>
    <http:request-config name="HTTP_Request_Config_Movies_DB" host="api.themoviedb.org" port="${themoviedb.port}" basePath="/3" doc:name="HTTP Request Configuration"/>
    <http:request-config name="HTTP_Request_Config_Last_FM" host="ws.audioscrobbler.com" port="${lastfm.port}" basePath="/2.0" doc:name="HTTP Request Configuration"/>
    
    <apikit:config name="test-config" raml="test.raml" consoleEnabled="true" consolePath="console" doc:name="Router"/>
    
    <flow name="test-main">
        <http:listener config-ref="test-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="test-config" doc:name="APIkit Router"/>
        <exception-strategy ref="test-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    
    <flow name="get:/popularMovie:test-config">
        <flow-ref name="popularmovieFlow" doc:name="popularmovieFlow"/>

        
        <exception-strategy ref="abitestCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    
    <flow name="post:/queryArtistTrack:test-config">
        <flow-ref name="queryartisttrackFlow" doc:name="queryartisttrackFlow"/>

        
        <exception-strategy ref="abitestCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="post:/valueVariation:test-config">
        <flow-ref name="valuevariationFlow" doc:name="valuevariationFlow"/>

        
        <exception-strategy ref="abitestCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    
    <catch-exception-strategy name="abitestCatch_Exception_Strategy">
        <logger message="Error while processing operation: #[exception]" level="INFO" doc:name="Logger"/>
        <set-payload value="{&quot;message&quot;:&quot;#[exception.getMessage()]&quot;}" mimeType="application/json" metadata:id="d18862f2-30d8-427b-aa99-8f203e7a4f05" doc:name="Set Payload"/>

    </catch-exception-strategy>
    
  
    
    <apikit:mapping-exception-strategy name="test-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
