abitestapi/src/main/app/valuevariation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="valuevariationFlow">
    	<logger message="== Request: #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Request"/>
        <enricher source="#[json:quotes/USDEUR]" target="#[flowVars.startValue]" doc:name="Message Enricher">
            <http:request config-ref="HTTP_Request_Config_Api_Layer" path="/historical" method="GET" doc:name="Get Start Variation">
                <http:request-builder>
                    <http:query-param paramName="access_key" value="${apilayer.access_key}"/>
                    <http:query-param paramName="date" value="#[json:start-date]"/>
                    <http:query-param paramName="source" value="${apilayer.currency.dollar}"/>
                    <http:query-param paramName="format" value="1"/>
                    <http:query-param paramName="currencies" value="${apilayer.currency.euro}"/>

                </http:request-builder>
            </http:request>
        </enricher>
        <enricher source="#[json:quotes/USDEUR]" target="#[flowVars.endValue]" doc:name="Message Enricher">
            <http:request config-ref="HTTP_Request_Config_Api_Layer" path="/historical" method="GET" doc:name="Get End Variation">
                <http:request-builder>
                    <http:query-param paramName="access_key" value="${apilayer.access_key}"/>
                    <http:query-param paramName="date" value="#[json:end-date]"/>
                    <http:query-param paramName="source" value="${apilayer.currency.dollar}"/>
                    <http:query-param paramName="format" value="1"/>
                    <http:query-param paramName="currencies" value="${apilayer.currency.euro}"/>
                </http:request-builder>
            </http:request>
        </enricher>
        <dw:transform-message doc:name="Define Variation">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"valueVariation":((flowVars.endValue - flowVars.startValue)*100)/flowVars.startValue
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="== Response: #[message.payloadAs(java.lang.String)] == #[flowVars.startValue] =#= #[flowVars.endValue]" level="INFO" doc:name="Response"/>
    </flow>
</mule>
